<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" />
    </head>
    <body>        